<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg bg-dark fixed-top" data-bs-theme="dark">
            <div class="container-fluid mx-3 mx-lg-5 px-0">
                <a class="navbar-brand ps-2" draggable="false">
                    <img class=".img-fluid" width="85px" height="75px" th:src="@{/images/logo.png}" alt="App logo. It´s a videocontroller with a halo on top.">
                    GamingHeaven
                </a>
                <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto gap-2 gap-lg-3">
                        <li class="nav-item px-1 px-lg-2">
                            <a class="nav-link" th:classappend="${activeLink == 'Videogames'} ? 'active' : ''" href="#">Videogames
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item px-1 px-lg-2">
                            <a class="nav-link" th:classappend="${activeLink == 'Social'} ? 'active' : ''" href="#">Social</a>
                        </li>
                    </ul>
                    <div>
                        <div class="d-flex gap-3">
                            <a th:href="@{/login}" class="btn btn-outline-primary" style="--bs-btn-padding-y:  1.25rem; --bs-btn-padding-x: 2.25rem; --bs-btn-font-size: 1.25rem;" type="submit">Login</a>
                            <a th:href="@{/register}" class="btn btn-outline-primary" style="--bs-btn-padding-y:  1.25rem; --bs-btn-padding-x: 2.25rem; --bs-btn-font-size: 1.25rem;" type="submit">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</html>