<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:object="${videogame}"></th:block>
<head>
    <link rel="icon" type="image/png" th:href="@{/images/logo.png}" />
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/custom.css}">
    <title th:text="${videogame.titulo}"></title>
</head>
<body>
    <th:block th:replace="~{fragments/header :: header(activeLink='Videogames')}"></th:block>
    <main th:object="${videogame}" class="d-flex flex-column justify-content-center mx-5 mt-9">
        <section class="row d-flex flex-row align-items-center my-3">
            <div class="d-flex flex-column col-md-4 my-3">
                <div class="d-flex flex-column">
                    <img id="videogameThumbnail" th:alt="*{titulo} + ' thumbnail.'" width="450px" height="250px">
                    <p class="h2" th:text="*{titulo}"></p>
                </div>
                <div class="d-flex flex-row align-items-center gap-2">
                    <img alt="Heart icon representing likes" th:src="@{/images/white_heart.svg}" width="50px" height="50px">
                    <p class="h5">666</p> <!-- th:text="*{usuarios.size()}" -->
                </div>
            </div>
            <div class="d-flex flex-column col-md-8">
                <p class="h4">Information</p>
                <div class="row">
                    <div class="d-flex flex-column col-md-4">
                        <div>
                            <p class="h5">Title</p>
                            <p class="lead" th:text="*{titulo}"></p>
                        </div>
                        <div>
                            <p class="h5">Developer</p>
                            <p class="lead" th:text="*{desarrollador}"></p>
                        </div>
                    </div>
                    <div class="d-flex flex-column col-md-4">
                        <div>
                            <p class="h5">Genre</p>
                            <p class="lead" th:text="*{genero}"></p>
                        </div>
                        <div>
                            <p class="h5">Publisher</p>
                            <p class="lead" th:text="*{distribuidor}"></p>
                        </div>
                    </div>
                    <div class="d-flex flex-column col-md-4">
                        <div>
                            <p class="h5">Release Date</p>
                            <p class="lead" th:text="*{fechaSalida}"></p>
                        </div>
                        <div>
                            <p class="h5">Platform</p>
                            <p class="lead" th:text="*{os}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr/>
        <section class="d-flex flex-column">
            <div class="d-flex flex-column">
                <p class="h4">Description</p>
                <p class="lead" th:text="*{descripcionL}"></p>
            </div>
            <hr/>
            <div class="d-flex flex-column">
                <p class="h4">Minimum System Requirements for Windows</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="d-flex flex-column">
                            <div>
                                <p class="h5">OS</p>
                                <p class="lead" th:text="*{os}"></p>
                            </div>
                            <div>
                                <p class="h5">Storage</p>
                                <p class="lead" th:text="*{almacenamiento}"></p>
                            </div>
                            <div>
                                <p class="h5">CPU</p>
                                <p class="lead" th:text="*{procesador}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <p class="h5">RAM</p>
                            <p class="lead" th:text="*{memoria}"></p>
                        </div>
                        <div>
                            <p class="h5">GPU</p>
                            <p class="lead" th:text="*{grafica}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="d-flex flex-column">
                <p class="h4">Screenshots</p>
                <div class="d-flex flew-row">
                    <img id="screenS1" th:alt="'A ' + *{titulo} + ' screenshot.'">
                    <img id="screenS2" th:alt="'A ' + *{titulo} + ' screenshot.'">
                    <img id="screenS3" th:alt="'A ' + *{titulo} + ' screenshot.'">
                </div>
            </div>
            <hr/>
        </section>
        <section class="d-flex flex-column">
            <div class="row d-flex flex-column gap-2 mb-3">
                <textarea class="col-md-12" placeholder="Write here your comment!" rows="7" style="resize: none;"></textarea>
                <a class="d-flex justify-content-end" style="text-decoration: none;"><button class="col-md-3 btn btn-outline-primary">Send</button></a><!--TODO - FALTA LA RUTA EN EL <a>-->
            </div>
            <!--PARA LEER LOS COMENTARIOS-->
            <div class="d-flex flex-column border border-dark border-3 p-3">
                <!----------------- AUN FALTA OBTENERLOS----------------------->
                <div class="d-flex flex-column gap-2">
                    <p class="h5">Persona</p>
                    <p class="lead">Comentario</p>
                </div>
                <!----------------- AUN FALTA OBTENERLOS ---------------------->
            </div>
        </section>
    </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script th:src="@{/js/scriptLogin.js}"></script>
</html>